<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Form Horizontal</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Adhesion</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Ajout Retraite</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Retraite</h4>
                        </div>
                        <hr>
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="form-group row">
                                            <label for="matricule" class="col-sm-3 text-right control-label col-form-label">Matricule</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="matricule" placeholder="">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="name" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="form-group row">
                                            <label for="lname2" class="col-sm-3 text-right control-label col-form-label">Last Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="lname2" placeholder="Last Name Here">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="form-group row">
                                            <label for="uname1" class="col-sm-3 text-right control-label col-form-label">Username</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" id="uname1" placeholder="Username Here">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="form-group row">
                                            <label for="nname" class="col-sm-3 text-right control-label col-form-label">Nick Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="nname" placeholder="Nick Name Here">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group m-b-0 text-right">
                                    <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
                                    <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
</div>